env
sso_tokens.json
tmp
all.txt
jul01.txt
felipe.py
test.py
test2.py
dist
build
build.nowork
__pycache__
gnssrefl.egg-info
gnssrefl/*.cpython-39-darwin.so
gnssrefl/__init__.pyc
sc02_usecase.py
thu2*
trythis.py
test_local.py
spline_out.png
logs
outliers.txt
**/.DS_Store
